<div class="MyPage">
  <div class="container">
    <div class="ProfileBox">
      <h2><%= current_user.name %>さんのページ</h2>
      <% if @userAvater %>
      <%= image_tag @userAvater, class: "currentUserIcon" %>
      <% else %>
      <%= image_tag 'userIcon.png', class: "currentUserIcon"%>
      <% end %>
      <h2 class="UserName"><%= current_user.nickname %></h2>
      <ul class="ageOrGender">
        <li class="age"><%= @user.age.age %></li><span>　|　</span>
        <li class="gender"><%= @user.gender.gender %></li>
      </ul>
      <div class="introduce arrowBoxTop">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
      <%= link_to " プロフィールを編集する", edit_user_registration_path(current_user.id), class: "profile_edit fa fa-edit" %>
    </div>
  </div>
</div>

<div class="item-list">
  <div class="container">
    <h2 class="review">投稿したクチコミ</h2>
      <div class="review__index uk-child-width-expand@s uk-text-center uk-grid">
        <div class="review__box uk-card uk-card-default uk-card-body">
          <div class="review__left">
            <%= link_to "#" do %>
              <div class="user　uk-card uk-width-auto@m">
                <p>ユーザー</p>
                <%= image_tag("ピザ.jpg") %>
                <p class="user__name">test</p>
              </div>
            <% end %>
          </div>  
            <div class="review__center user__comment uk-card uk-width-expand@m">
              <ul class="review__contents arrow_box">
                <li class="review__timestamp">2020/09/09/10:00</li>
                <li class="review__evaluation">評価：3<span>｜</span>★★★☆☆</li>
                <li class="review__title">投稿タイトル</li>
                <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
              </ul>
            </div>
          <div class="review__right">
            <%= link_to "#" do%>
              <div class="review__item">
                <ul class="review__link">
                  <li><%= image_tag("ピザ.jpg") %></li>
                  <li class="item-name">サラダチキンA</li>
                  <li class="maker">アマタケ</li>
                </ul>
              </div>
          <% end %>
          </div>  
        </div>
      </div>
  </div>
</div>