<nav class="uk-navbar-container uk-margin nav-center" uk-navbar>
  <ul class="header-left uk-navbar-left uk-navbar-nav">
    <li><%= link_to image_tag("logo/logo.jpg"),"/" %></li>
    <li><%= link_to favorites_path do %><i class="fa fa-signal"></i>ランキング<% end %></li>
    <li><%= link_to item_list_items_path do %><i class="fa fa-drumstick-bite"></i>アイテムを探す<% end %></li>
    <li><%= link_to brand_index_items_path do %><i class="fa fa-industry"></i>ブランドを探す<% end %></li>
    <li><%= link_to reviews_path do %><i class="fa fa-search"></i>口コミを探す<% end %></li>
    <li><%= link_to "#" do %><i class="fa fa-file"></i>新規登録<% end %></li>
    <li><%= link_to "#" do %><i class="fa fa-sign-in-alt"></i>ログイン<% end %></li>
    <li><%= link_to "#" do %><i class="fa fa-vial"></i>ゲストログイン<% end %></li>
  </ul>
</nav>
