<div class="about">
  <h1 class="about-top">サラダチキンに飽きてしまった方へ</h1>
  <%= link_to "My Salad Chikenを利用する", "#"%>
</div>

<div class="introduce">
  <div class="container">
    <div class="introduction">
      <h2 class="introduction-title">My Salad Chickenとは</h2>
    </div>
    <p>手軽に高タンパク質なものを摂取したい時に食べるサラダチキン<br>
      しかし、同じ様な味では飽きてしまう...という方に向けた、<br>
      サラダチキンに特化した口コミサイトです。</p>
    <div class="introduction__contents uk-child-width-expand@s uk-text-center uk-grid">
      <div class="introduction-box uk-card uk-card-default uk-card-body">
        <span class="fas fa-check-square"></span>
        <h3 class="introduction-title">リアルな口コミ</h3>
        <p class="introduction-text">購入者によるリアルな<br>口コミで失敗しない</p>
      </div>
      <div class="introduction-box uk-card uk-card-default uk-card-body">
        <span class="fas fa-search"></span>
        <h3 class="introduction-title">検索性</h3>
        <p class="introduction-text">お気に入りやランキング、<br>最新の口コミから検索可能</p>
      </div>
      <div class="introduction-box uk-card uk-card-default uk-card-body">
        <span class="fas fa-reply"></span>
        <h3 class="introduction-title">レスポンシブ</h3>
        <p class="introduction-text">PCやスマートフォン<br>どちらからでも見やすい設計</p>
      </div>
    </div>
  </div>
</div>

<div class="item-list">
  <div class="container">
    <h2 class="item-list__title">お気に入りランキング</h2>
      <div class="item-list__index uk-child-width-expand@s uk-text-center uk-grid">
        <%= link_to "#" do%>
          <div class="item-box uk-card uk-card-default uk-card-body uk-width-auto@m">
              <%= image_tag("ピザ.jpg") %>
              <%# <img src="ピザ.jpg" alt=""> %>
              <p class="item-name">サラダチキンA</p>
              <hr>
              <p class="maker">アマタケ</p>
              <hr>
              <p class="reviews">口コミ評価</p>
              <p class="reviews">★★★★☆</p>
              <hr>
              <p>ランキング1位</p>
          </div>
        <% end %>
        <%= link_to "#" do%>
          <div class="item-box uk-card uk-card-default uk-card-body uk-width-auto@m">
              <%= image_tag("ピザ.jpg") %>
              <p class="item-name">サラダチキンA</p>
              <p class="maker">アマタケ</p>
          </div>
        <% end %>
        <%= link_to "#" do%>
          <div class="item-box uk-card uk-card-default uk-card-body uk-width-auto@m">
              <%= image_tag("ピザ.jpg") %>
              <p class="item-name">サラダチキンA</p>
              <p class="maker">アマタケ</p>
          </div>
        <% end %>
        <%= link_to "#" do%>
          <div class="item-box uk-card uk-card-default uk-card-body uk-width-auto@m">
              <%= image_tag("ピザ.jpg") %>
              <p class="item-name">サラダチキンA</p>
              <p class="maker">アマタケ</p>
          </div>
        <% end %>
      </div>
      <%= link_to "お気に入りランキング一覧へ", favorites_path, class: "item-index" %>

    <h2 class="review">新着の口コミ一覧</h2>
      <div class="review__index uk-child-width-expand@s uk-text-center uk-grid">
        <div class="review__box uk-card uk-card-default uk-card-body">
          <div class="review__left">
            <%= link_to "#" do %>
              <div class="user　uk-card uk-width-auto@m">
                <p>ユーザー</p>
                <%= image_tag("ピザ.jpg") %>
                <p class="user__name">test</p>
              </div>
            <% end %>
          </div>  
            <div class="review__center user__comment uk-card uk-width-expand@m">
              <ul class="review__contents">
                <li class="review__timestamp">2020/09/09/10:00</li>
                <li class="review__title">評価：３　title：投稿タイトル</li>
                <li class="review__star">★★★★☆</li>
                <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
              </ul>
            </div>
          <div class="review__right">
            <%= link_to "#" do%>
              <div class="review__item">
                <ul>
                  <li><%= image_tag("ピザ.jpg") %></li>
                  <li class="item-name">サラダチキンA</li>
                  <li class="maker">アマタケ</li>
                </ul>
              </div>
          <% end %>
          </div>  
        </div>
      </div>
      <div class="review__index uk-child-width-expand@s uk-text-center uk-grid">
        <div class="review__box uk-card uk-card-default uk-card-body">
          <div class="review__left">
            <%= link_to "#" do %>
              <div class="user　uk-card uk-width-auto@m">
                <p>ユーザー</p>
                <%= image_tag("ピザ.jpg") %>
                <p class="user__name">test</p>
              </div>
            <% end %>
          </div>  
            <div class="review__center user__comment uk-card uk-width-expand@m">
              <ul class="review__contents">
                <li class="review__timestamp">2020/09/09/10:00</li>
                <li class="review__title">評価：３　title：投稿タイトル</li>
                <li class="review__star">★★★★☆</li>
                <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
              </ul>
            </div>
          <div class="review__right">
            <%= link_to "#" do%>
              <div class="review__item">
                <ul>
                  <li><%= image_tag("ピザ.jpg") %></li>
                  <li class="item-name">サラダチキンA</li>
                  <li class="maker">アマタケ</li>
                </ul>
              </div>
          <% end %>
          </div>  
        </div>
      </div>
      <div class="review__index uk-child-width-expand@s uk-text-center uk-grid">
        <div class="review__box uk-card uk-card-default uk-card-body">
          <div class="review__left">
            <%= link_to "#" do %>
              <div class="user　uk-card uk-width-auto@m">
                <p>ユーザー</p>
                <%= image_tag("ピザ.jpg") %>
                <p class="user__name">test</p>
              </div>
            <% end %>
          </div>  
            <div class="review__center user__comment uk-card uk-width-expand@m">
              <ul class="review__contents">
                <li class="review__timestamp">2020/09/09/10:00</li>
                <li class="review__title">評価：３　title：投稿タイトル</li>
                <li class="review__star">★★★★☆</li>
                <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
              </ul>
            </div>
          <div class="review__right">
            <%= link_to "#" do%>
              <div class="review__item">
                <ul>
                  <li><%= image_tag("ピザ.jpg") %></li>
                  <li class="item-name">サラダチキンA</li>
                  <li class="maker">アマタケ</li>
                </ul>
              </div>
          <% end %>
          </div>  
        </div>
      </div>
      <%= link_to "新着の口コミ一覧へ", reviews_path, class: "item-index" %>
  </div>
</div>