<div class="itemShow">
  <div class="container">
    <h2>サラダチキン詳細情報</h2>
    <div class="itemShow__contents">
      <div class="itemShow__left">
        <%= image_tag "ピザ.jpg" %>
      </div>
      <div class="itemShow__right">
        <ul class="itemShow__profiles">
          <li class="itemShow__details itemShow__name">　商品名：　　<%= @item.name %>　</li>
          <li class="itemShow__details itemShow__unitPrice">　　単価：　　<%= @item.price %>円(税抜)</li>
          <li class="itemShow__details itemShow__maker">メーカー：　　<%= link_to @item.maker, @item.maker_url, target: "_blank", rel: 'noopener' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="item-list">
  <div class="container">
    <% if @reviews.present? %>
    <h2 class="title">〜口コミ一覧〜</h2>
      <% @reviews.each do |review| %>
        <div class="review__index uk-child-width-expand@s uk-text-center uk-grid">
          <div class="review__box uk-card uk-card-default uk-card-body">
            <div class="review__left">
              <%= link_to user_path(review.user_id) do %>
                <div class="user uk-card uk-width-auto@m">
                  <p><%= review.user.nickname %></p>
                  <%= image_tag review.user.avaterImg.url %>
                  <div class="profile">
                    <ul class="age">
                      <li>年齢層</li>
                      <li><%= review.user.age.age %></li>
                    </ul>
                    <ul class="gender">
                      <li>性別</li>
                      <li><%= review.user.gender.gender %></li>
                    </ul>
                  </div>
                </div>
              <% end %>
            </div>  
              <div class="review__center user__comment uk-card uk-width-expand@m">
                <ul class="review__contents arrow_box">
                  <li class="review__timestamp"><%= review.updated_at.strftime('%Y/%m/%d/ %H:%M') %></li>
                  <li class="review__evaluation">評価：<%= review.evaluation %><span>｜</span>★★★☆☆</li>
                  <li class="review__title">投稿タイトル | <%= review.title %></li>
                  <li><%= review.comment %></li>
                  <li class="review__image"><%= image_tag review.commentImg.url if review.commentImg.url.present? %></li>
                </ul>

              </div>
            <div class="review__right">
              <%= link_to "#" do%>
                <div class="review__item">
                  <ul class="review__link">
                    <li><%= image_tag("ピザ.jpg") %></li>
                    <li class="item-name">サラダチキンA</li>
                    <li class="maker">アマタケ</li>
                  </ul>
                </div>
              <% end %>
              <% if user_signed_in? && current_user.id == review.user.id %>
                <div class="review__edit">
                  <%= link_to "投稿を編集", edit_item_review_path(review.item_id, review.id), class: " btn" %>
                  <%= link_to "投稿を削除", review_path(review.id), class: "btn", method: :delete, data: { confirm: "【確認】投稿した口コミを削除してもよろしいでしょうか？" } %>
                </div>
              <% end %>
            </div>  
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="reviewForm">
    <div class="container">
      <% if current_user %>
        <h2 class="reviewForm__title">口コミを投稿する</h2>
        <%= form_with(model: [@item, @review], local: true) do |f| %>
          <div class="field">
            <%= f.label :title, "投稿タイトル", class: "reviewForm__content" %>
            <%= f.text_field :title %>
          </div>
          <div class="field">
            <%= f.label :evaluation, "評価", class: "reviewForm__content" %>
            <%= f.text_field :evaluation %>
          </div>
          <div class="field">
            <%= f.label :comment, "口コミ内容", class: "reviewForm__content " %>
            <%= f.text_area :comment, placeholder: "※200文字まで",maxlength: 200 %>
          </div>
          <div class="field">
            <%= f.label :commentImg, "口コミ画像", class: "reviewForm__content" %>
            <%= f.file_field :commentImg %>
          </div>
          <div class="actions">
            <%= f.submit "投稿する", method: :patch %>
          </div>
        <% end %>
      <% else %>
          <strong><p>※※※ 口コミを投稿するには新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>
  </div>
</div>
